html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    background-color: aqua;
}

.top{
    width: 75vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.grid {
    height: 75vmin;
    width: 75vmin;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    gap:2%;
}

.card {
    width: 23.5%;
    height: 23.5%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card:hover {
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.back {
    background-color: blue;
    color: aqua;
    text-align: center;
}

.front {
    transform: rotateY(180deg);
}

.leaderboard{
    display: none;
}

#view-lb{
    margin-top: 2%;
    margin-bottom: 2%;
}
.card.locked {
    pointer-events: none;
}
